# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.c text
*.cc text
*.cpp text
*.cs text
*.css text
*.h text
*.html text
*.java text
*.js text
*.json text
*.jsx text
*.php text
*.py text
*.rb text
*.rs text
*.scss text
*.sql text
*.ts text
*.tsx text
*.xml text
*.yaml text
*.yml text

# Shell scripts
*.sh text eol=lf
*.bash text eol=lf

# Documentation
*.md text
*.txt text
LICENSE text
AUTHORS text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

# Archives
*.7z binary
*.gz binary
*.tar binary
*.zip binary

# Executables
*.exe binary
*.pyc binary
